.auth-page-wrapper {
    position: relative;
    width: 100%;
    height: calc(100dvh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.auth-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.auth-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}